 .avatar{
    border-radius:50%;
    display:inline-block;
 }

 .lg-img{
    width:10rem;
    height:10rem;
 }
 .img-round{
    border-radius: 50%;
 }
 .img-square{
    border-radius: 10px;
 }
 .img-border{
    border:3px solid #ffeeba;
 }
 
.md-img{
    width:8rem;
    height:8rem;
}
.sm-img{
    width:6rem;
    height:6rem;
}
.xs-img{
    width:3rem;
    height:3rem;
}