.margin-sm{
    margin:.5rem 1.5rem;
}
.margin-md{
    margin:1rem 3rem;
}
.margin-lg{
    margin:1.5rem 5rem;
}
.mb-lg{
    margin-bottom: 1rem;
}
.ml-auto{
    margin-left:auto;
}
.mr-auto{
    margin-right:auto;
}
.padding-sm{
    padding:.5rem 1.5rem;
}
.padding-xs{
    padding:.5rem 1rem;
}
.evenly-padding-sm{
    padding:1rem;
}
.evenly-padding-md{
    padding:1.5rem;
}
.margin-none{
    margin:0rem;
}
.centered{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.vertical-direction{
    flex-direction: column;
}

.text-primary{
    color:var(--primary-color)
}
.text-secondary{
    color:var(--secondary-text-color)
}
.light-text{
    color:var(--text-light)
}
.text-vibrant{
    color: var(--vibrant);
}
.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--bg-secondary);
}
.bg-vibrant{
    background-color: var(--vibrant);
}
.style-list-none{
    list-style: none;
}
.inline-block{
    display: inline-block;
}
.pointer{
    cursor:pointer;
}
.shadow-box{
    box-shadow: 0px 2px 5px 0px var(--secondary-text-color);
}
.shadow-text{
    text-shadow: -3px 0px 1px rgba(0, 0, 7, 0.76);
}
.iframe-wrapper{
    text-align: center;
}
.width-md{
    width:30rem;
}
.decor-none{
    text-decoration: none;
}
