*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    word-spacing:.2rem;
    
}
html{
    scroll-behavior: smooth;
}
:root{
     --primary-color:#FCB08C;
    --secondary-color:#f7f7f7;
    --vibrant:rgb(128, 0, 128);
    --bg-secondary: rgb(213, 234, 236);
    --text-color:#000;
    --text-light:white;
    --secondary-text-color:#495057;
  
}