*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    word-spacing:.2rem;
    
}
html{
    scroll-behavior: smooth;
}
:root{
     --primary-color:#FCB08C;
    --secondary-color:#260827;
    --vibrant:rgb(128, 0, 128);
    --bg-secondary: #f7f7f7;
    --text-color:#000;
    --text-light:white;
    --secondary-text-color:#495057;
    --green:rgb(3, 117, 3);
    --red:rgb(236, 5, 5);
  
}