@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

.hero-font{
    font-family: 'Source Serif 4', sans-serif;
}

.font1{
    font-size: 2.5rem;
}
.font2{
    font-size:1.7rem;
}
.font3{
    font-size: 1.25rem;
}
.font4{
    font-size:1rem;
}
.font5{
    font-size:.90rem;
}
.font6{
    font-size:.75rem;
}