@import url("./css/main.css");
.navbar{
    min-height: 10vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: var(--bg-color);
}

/* navbar */

.mid-col>span:hover{
    color:var(--primary-color)

}

main{
    min-height:50vh;
    background-color: var(--bg-color);
}
.section1{
    min-height: 50vh;
}

footer{
    min-height:25vh;
    background-color: var(--secondary-color);
    color:var(--dark-color);
    opacity: .8;
}
.grid-section-col-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "installation carbon";
   
}
.left-main-col{
   grid-area: installation;
}
.right-main-col{
    grid-area: carbon;
}
@media only screen and(max-width:1580px){
  
   
}
@media only screen and(max-width:768px){
  
    .grid-section-col-2{
        grid-template-columns: 1fr;
        grid-template-areas: "installation" 
        "carbon";
       
    }
    .left-main-col{
       grid-area: installation;
    }
    .right-main-col{
        grid-area: carbon;
    }
    
    
   
   
}






  