 .avatar{
    border-radius:50%;
    display:inline-block;
 }

 .lg-img{
    width:8rem;
    height:8rem;
 }
.md-img{
    width:6.5rem;
    height:6.5rem;
}
.sm-img{
    width:5rem;
    height:5rem;
}
.xs-img{
    width:3rem;
    height:3rem;
}
.border-round{
   border-radius: 50%;
}
.border-square{
   border-radius: 10px;
}
.img-border{
   border:3px solid var(--primary-color);
}